<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejemploapp2.pmdm_proyecto2">
    <!-- AÑADIMOS EN EL MANIFEST LOS PERMISOS QUE NECESITEMOS -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- PARA RESTRINGIR NUESTRA APLICACIÓN SOLO A DISPOSITIVOS MÓVILES CON CÁMARA: -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RetoPulsar"></activity>
        <activity android:name=".RetoMates" />
        <activity android:name=".activity_reto_camara" />
        <activity android:name=".RetoInternet" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>